{
  "root": true,
  "extends": ["react-app", "react-app/jest","plugin:security/recommended"],
  "plugins": ["security"],
  "rules": {
    "no-console": "warn",
    "no-debugger": "warn",
    "import/no-cycle": "error",
    "security/detect-object-injection": "off",
    "array-callback-return": "off",
    "import/no-anonymous-default-export": "off",
    "import/no-duplicates": "warn",
    "import/newline-after-import": "warn",
    "max-params": "error",
    "react-hooks/exhaustive-deps": "error",
    "import/no-nodejs-modules": "error",
    "import/order": [
      "error",
      {
        "pathGroups": [
          {
            "pattern": "xmpie/**/*",
            "group": "parent",
            "position": "before"
          }
        ],
        "pathGroupsExcludedImportTypes": ["builtin"]
      }
    ]
  },
  "ignorePatterns": ["node_modules", "build", "scripts"]
}
